* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display .current {
    font-size: 3em;
    text-align: right;
    margin: 1vh 4vh;
}

.display .expression {
    margin: 1vh 4vh;
}

.row {
    display: flex;
    justify-content: space-between;
}

.calculator button {
    font-size: 2.5em;
    flex-grow: 1;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 12vh;
    margin: 1vh;
}

.one button {
    background-color: #edfff0;
}

.two button {
    background-color: #bcedc5;
}

.three button {
    background-color: #9ccfa6;
}

.four button {
    background-color: #86ab8d;
}

.five button {
    background-color: #627c67;
}

.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    width: 48vh;
    line-height: 1.5;
}

.warning button {
    height: 2em;
    aspect-ratio: 1/1;
    margin: 1em;
}